<!DOCTYPE html>
<head>
    <title>
        Card
    </title>
</head>
<body class="text-center">
    <br>
    <br>

    <div class="container" style=" width: 40%; height: 400px; padding: 15px;margin: auto;border: 1px solid transparent;box-shadow: 0 5px 10px -5px black;">
        <br> <br>
        <fieldset style="width: 200px;height: 200px; float: right;">
        <img src="../media/images/21.jpg" alt="sakib" style="width: 200px;height: 200px; float: right;">
        </fieldset>
        <h3 style="text-align: left;color: darkgreen;">Name: Shakib Hasan</h3>
        <h4 style="text-align: left;color: navy;">Age: 24</h4>
        <h4 style="text-align: left;color: darkred;">Place: Dhaka</h4>
      
    </div>   
  </body>