{% extends 'base.html' %}

{% block body %}
 
<div class="container-fluid">
    <br>
    <br>

    <body class="text-center" >
        <form class="form-signin" action="" method="POST" style=" width: 100%;max-width: 330px;padding: 15px;margin: auto;border: 1px solid transparent;box-shadow: 0 5px 10px -5px black;">
            {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal"> Sign Up Here</h1>
      <label>username</label> <br>
      {{form.username}}
      <br>
      <label>Email address</label><br>
      {{form.email}}
      <br>
      <label>Password</label><br>
      {{form.password1}}
      <br>
      <label>ReType Password</label><br>
      {{form.password2}}
      <br \>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" required> Agree to the T&C
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
    
    </form>
    </body>

</div>  
    
    

{% endblock %}